node_modules
build
dist
coverage
*.onnx
*.min.js
*.min.css
*.snap
*.patch
*.diff
.vscode
.idea
.DS_Store
*.log
yarn.lock
package-lock.json
__generated__
.expo
assets/fonts/
assets/images/
models/
docs/
README.md